/* ===================================== استایل های جامع */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  direction: rtl;
  max-width: 2000px;
  margin: auto;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}
body {
  color: #61332a;
}
/* Fonts */
@font-face {
  font-family: "shabnamL";
  src: url(../Fonts/Shabnam-Light.ttf);
}
@font-face {
  font-family: "shabnamM";
  src: url(../Fonts/Shabnam-Medium.ttf);
}
@font-face {
  font-family: "shabnamB";
  src: url(../Fonts/Shabnam-Bold.ttf);
}
@font-face {
  font-family: "shabnamT";
  src: url(../Fonts/Shabnam-Thin.ttf);
}
.btn {
  transition: all ease-in-out 0.3s;
  background-position: top;
  position: relative;
  overflow: hidden;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:hover > .hoverimg {
  top: 0;
}
/* ===================================== استایل های جامع (پایان) */
.infoBar {
  width: 100%;
  height: 30vh;
  padding: 1rem 2rem;
}
.infocontainer {
  width: 100%;
  height: 100%;
}
.infoWraper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.infoWraper div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.btncontainer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.logoutBTN{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.5rem;
    
}
.logoutBTN a{
    color: white;
    text-decoration: none;
}
.logoutBTN:hover{
    transform: scale(1.2);
}