/* ===================================== استایل های جامع */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  direction: rtl;
  max-width: 2000px;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  color: #61332a;
}
*,
*::after,
*::before {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

/* Fonts */
@font-face {
  font-family: "shabnamL";
  src: url(../Fonts/Shabnam-Light.ttf);
}
@font-face {
  font-family: "shabnamM";
  src: url(../Fonts/Shabnam-Medium.ttf);
}
@font-face {
  font-family: "shabnamB";
  src: url(../Fonts/Shabnam-Bold.ttf);
}
@font-face {
  font-family: "shabnamT";
  src: url(../Fonts/Shabnam-Thin.ttf);
}
.btn {
  transition: all ease-in-out 0.3s;
  background-position: top;
  position: relative;
  overflow: hidden;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:hover > .hoverimg {
  top: 0;
}
/* ===================================== استایل های جامع (پایان) */
/* -------------------------- dark mode */
.cakeshop {
  width: 100%;
  overflow: hidden;
}
.cakeshop:hover {
  overflow: scroll;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}

/* -------------------------- dark mode */
/*=================================header  */
.shopHeader {
  width: 100%;
  max-height: 250px;
  background-color: red;
  text-wrap: nowrap;
}
.shopheadercontainer {
  width: 100%;
  height: fit-content;
  max-height: 100px;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: grayscale(0.6) blur(5px);
  position: fixed;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.shoplogoWraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoplogoWraper img {
  max-width: 100px;
  max-height: 100px;
}
.shoptoolbarWraper {
  width: 100%;
}
.shoptoolbarWraper ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.4rem;
  font-family: "shabnamN";
}
.shoptoolbarWraper ul li a:hover {
  border-color: transparent transparent white transparent;
}
.shoptoolbarWraper ul li a {
  border: 3px solid transparent;
  text-decoration: none;
  transition: all 0.2s ease-in;
  color: #f5f5f5;
}
.shopiconsWraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.cartPack {
  position: relative;
  cursor: pointer;
}
.cartProductnumbers {
  background-color: red;
  /* border-radius: 100%; */
  position: absolute;
  padding: 0.6rem 1.6rem;
  /* top: -0.4rem; */
  /* right: -0.4rem; */
  bottom: -0.6rem;
  color: wheat;
  width: 1rem;
  height: 1rem;
  font-family: "shabnamB";
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopiconsWraper > img {
  cursor: pointer;
}
/*=================================header  */

.main {
  padding-top: 5.5rem;
}
.cakeshop {
  padding: 2rem 3rem;
}
.cardWraper {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showmorecard,
.card {
  width: 15rem;
  height: 25rem;
  background-color: rgb(239, 157, 157);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: safe;
  justify-content: start;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  cursor: default;
}
.showmorecard:hover,
.card:hover {
  transform: scale(1.07);
  box-shadow: 0 0 12px red;
}

.cardImageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}
.cardimage {
  width: 10rem;
  height: width;
  border-radius: 1rem;
}
.title {
  font-family: "shabnamB";
  font-size: 2rem;
  padding: 0 0.5rem;
  text-wrap: nowrap;
}
.disceription {
  font-family: "shabnamL";
  font-size: 1rem;
  padding: 0 0.5rem 0 3rem;
  text-align: justify;
}
.priceRate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 0.5rem;
}
.buyAdd {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buyitem {
  width: 13rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  font-family: "shabnamB";
  font-size: 1.5rem;
  color: white;
  background-color: red;
  transition: all 0.4s ease-in-out;
}
.buyitem:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Cakesliderwraper {
  display: flex;
  gap: 1rem;
}
.loginPage {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(34, 2, 2, 0.794);
  backdrop-filter: blur(4px);
  z-index: 5;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: none;
}

.loginContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D75B00;
  padding: 3rem 3rem;
  border-radius: 0.5rem;
}
.closelogin {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 2rem;
  cursor: pointer;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.loginForm input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.loginForm input:focus {
  border: 1px solid #3e1c05;
  box-shadow: 0 0 5px #3e1c05;
}
.loginForm label {
  font-family: "shabnamN";
  font-size: 14px;
  opacity: 0.8;
  margin-top: 1.5rem;
}
.loginbtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.formBtn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.formBtn:hover {
  transform: scale(1.05);
}
.createAcountBtn a {
  text-decoration: none;
}

/* *********************************** login end */
/* *********************************** signup start */
.signupPage {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(88, 7, 7, 0.637);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}
.signupContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D75B00;
  padding: 3rem 3rem;
  border-radius: 0.5rem;
}
.closeSignup {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 2rem;
  cursor: pointer;
}
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.signupForm input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.signupForm input:focus {
  border: 1px solid #3e1c05;
  box-shadow: 0 0 5px #3e1c05;
}
.signupForm label {
  font-family: "shabnamN";
  font-size: 14px;
  opacity: 0.8;
  margin-top: 1.5rem;
}
.signupbtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.activelogin {
  display: flex;
}
/* *********************************** signup end */